{% load static %}

<nav class="navbar">
    <a href="{% url 'home' %}">
        <div class="logo">
            <img src="{% static 'img/logo1.png' %}" alt="">
        </div>
    </a>

    <div class="links">
        <ul class="list-el">
            <li><a href="{% url 'home' %}"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
            <li><a href="{% url 'textIp' %}"><i class="fa fa-text-width" aria-hidden="true"></i> Text-To-Speech</a></li>
            <li><a href="{% url 'videoIp' %}"><i class="fa fa-video-camera" aria-hidden="true"></i> Video</a></li>
            <li><a href="{% url 'pdfIp' %}"><i class="fa fa-file-text" aria-hidden="true"></i> PDF-To-Speech</a></li>
            <li><a class="bigbtn invert" href="https://github.com/chinmaychavan04/Spoken-Tutorial">
                    <span><i class="fa fa-github" aria-hidden="true"></i>Source-code on GitHub</span>
                </a></li>


        </ul>

    </div>
</nav>